body {
    font-family: Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background: #F5F3EF;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

header {
    padding: 3%;
}

article img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
}

header>img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    list-style: none;
    color: black;
}

li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

li:hover {
    background-color: lightgray;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#products {
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    flex: 1;
    align-items: center;
    padding: 2rem;
    width: 33.33%;
}

.banner {
    background-color: #22201D;
    height: 200px;
    color: white;
    text-align: center;
}

footer {
    display: flex;
    padding: 1rem;
    background-color: lightgray;
}

footer div {
    flex: 1;
    text-align: center;
}

footer img {
    height: 50px;
    width: 50px;
}

.textual {
    border: 1px;
    padding: 10px;
}

.textual:hover {
    box-shadow: 5px 0px 25px black;
}